<nav>
    <%= link_to 'Cadastrar Nova Região', new_property_location_path %>
</nav>

<% if @property_locations.empty?%>
    <div>
        Nenhuma Região Cadastrada
    </div>
<% end %>

<ul>
    <% @property_locations.each do |type| %>
        <h4>
            <%= type.name%>
        </h4>
    <% end %>
</ul>