<h1>Flats</h1>
<h3>Boas vindas ao sistema de locação de apartamentos</h3
   
<% unless @properties.nil? then %>
    <ul>
        <% @properties.each do |p| %>
            <h4>
                <%= link_to p.title, p %>
            </h4>
            <li>
                <%= p.description%>
            </li>
            <li>
                    Quartos: <%= p.rooms%>
                </li>
        <% end %>
    </ul>
<% else %>
    <div>
        Nenhum imóvel disponível
    </div>
<% end %>
