<h1>Flats</h1>
<h3>Boas vindas ao sistema de locação de apartamentos</h3
   
<% unless @properties.empty?%>
    <ul>
        <% @properties.each do |property| %>
            <h4>
                <%= link_to property.title, property%>
            </h4>
            <li>
                <%= property.description%>
            </li>
            <li>
                    Quartos: <%= property.rooms%>
                </li>
        <% end %>
    </ul>
<% else %>
    <div>
        Nenhum imóvel disponível
    </div>
<% end %>
